<nav class="navbar navbar-light bg-light">
  <%- include('logo') %>
  <a class="navbar-brand" href="#">Online Doctor Appointment Scheduler</a>
  <form class="form-inline my-2 my-lg-0">
      <a href="/login">
        <button class="btn btn-outline-success mr-sm-2" type="button" aria-label="Log In">Log In</button>
      </a>
      <a href="/signup">
        <button class="btn btn-outline-success my-2 my-sm-0" type="button">Sign Up</button>
      </a>
  </form>
</nav>