<%- include('partials/head', { title: 'ODAS'}) %>
<%- include('partials/nav') %>
<div class="container">
<div class="row justify-content-center">
<%- include('partials/search') %>
</div>
</div>
<%- include('partials/foot'); %>