<%- include('partials/head', { title: 'ODAS | Sign Up', message: '' }) %>
<%- include('partials/nav') %>
<div class="row justify-content-center">
<%- include('signup/form') %>
</div>
<%- include('partials/foot'); %>